[submodule "absent-sir"]
	path = absent-sir
	url = https://github.com/live-wire/absent-sir.git
[submodule "cardgame"]
	path = cardgame
	url = https://github.com/live-wire/cardgame.git
[submodule "appy-hours"]
	path = appy-hours
	url = https://github.com/live-wire/appy-hours.git
[submodule "rsw"]
	path = rsw
	url = https://github.com/live-wire/rsw.git
[submodule "ip2k17"]
	path = ip2k17
	url = https://github.com/live-wire/ip2k17.git
[submodule "terror"]
	path = terror
	url = https://github.com/live-wire/terror.git
