[submodule "absent-sir"]
	path = absent-sir
	url = https://github.com/live-wire/absent-sir.git
[submodule "cardgame"]
	path = cardgame
	url = https://github.com/live-wire/cardgame.git
[submodule "appy-hours"]
	path = appy-hours
	url = https://github.com/live-wire/appy-hours.git
[submodule "rsw"]
	path = rsw
	url = https://github.com/live-wire/rsw.git
